.dots-holder {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 5%;
  bottom: 5%;
  div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    transition: 750ms all ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}
