.app__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  overflow: hidden;
  &.active {
    background: #24293e;
    color: #fff;
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
}
.p-text {
  font-size: 0.8rem;
  text-align: left;

  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;

  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
